html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}

html,
body {
    overflow: hidden;
}
#container > * {
    position: relative;
}
#container {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transform: scale(2) rotate(90deg);
    -webkit-transform: scale(2) rotate(90deg);
    -o-transform: scale(2) rotate(90deg);
    -ms-transform: scale(2) rotate(90deg);
    transform: scale(2) rotate(90deg);
}
@media screen and (max-width: 500px) {
}
.gradientFrame {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 500px #000 inset;
}
h1 {
    font-size: 23px;
    font-weight: bold;
}
.intro {
    display: none;
}
/* Popup box BEGIN */
.grainpopup {
    background: transparent;
    cursor: pointer;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.grainpopup .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.grainpopup > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    width: 315px;
    min-height: 100px;
    vertical-align: middle;
    max-width: 90%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    font-size: 20px;
    line-height: 23px;
    font-family: Arial;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #2d7966;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    color: #2d7966;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #a4aae8;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}